{% extends "UserAdminBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="panel-heading">
                    <h3 class="panel-title">Error</h3>
                </div>
                <div class="panel-body">
                    <h3>Something has gone wrong. Please contact a system administrator.</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}