{% extends "UserAdminBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="panel-heading">
                    <h3 class="panel-title">Forgot your password?</h3>
                </div>
                <div class="panel-body">
                    <h3>Please check your inbox, we have sent you an email to confirm your identity.</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}